Process-Injection-Custom-Call-Stacks-Cpp/.vs/*
Process-Injection-Custom-Call-Stacks-Cpp/Process-Injection-Custom-Call-Stacks-Cpp/x64/*
Process-Injection-Custom-Call-Stacks-Cpp/Process-Injection-Custom-Call-Stacks-Cpp/Process-.*
/Process-Injection-Custom-Call-Stacks-Cpp/x64
